<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myblog.blog.entry.somemodel.mapper.LoveTableMapper">
  <resultMap id="BaseResultMap" type="mbttst.mbytes.model.LoveTable">
    <result column="love_id" jdbcType="INTEGER" property="loveId" />
    <result column="love_2_id" jdbcType="INTEGER" property="love2Id" />
  </resultMap>
  <insert id="insert" parameterType="mbttst.mbytes.model.LoveTable">
    insert into love_table (love_id, love_2_id)
    values (#{loveId,jdbcType=INTEGER}, #{love2Id,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="mbttst.mbytes.model.LoveTable">
    insert into love_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        love_id,
      </if>
      <if test="love2Id != null">
        love_2_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loveId != null">
        #{loveId,jdbcType=INTEGER},
      </if>
      <if test="love2Id != null">
        #{love2Id,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>